:root {
  --primary: #377dff;
  --text: #333;
  --white: #fff;
  --gray: #ccc;
  --darkgrey: #777;
}

::-webkit-scrollbar{
  width: 0;
}

* {
  margin: 0;
  padding: 0;
}
/* --------- Login Page CSS ----------- */

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: var(--gray);
  padding: 5rem;
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.brand {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.brand-name {
  color: var(--primary);
  font-weight: 700;
}
.logo {
  width: 20%;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form-heading {
  color: var(--primary);
  font-weight: 600;
}
.login-input {
  border: none;
  background-color: var(--gray);
  font-weight: 500;
  color: var(--text);
  padding: 0.5rem;
  border-radius: 5px;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* ----------- Main Page CSS --------- */

.mainpage {
  background-color: var(--gray);
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* ------Sidenav CSS------ */

.sideNav {
  padding: 1rem;
  background-color: var(--white);
  height: 100%;
}
.navBrand {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.navName {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 700;
}
.navlisthead {
  font-size: 1.2rem;
}
.navitem {
  display: flex;
  gap: 10px;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.hoveritem:hover {
  background-color: #f0f0f0 !important;
  color: #6c757d !important;
}
.navitem p {
  font-size: 0.8rem;
}

/* --------------------Dashboard CSS--------------- */

.dashboard {
  display: flex;
  background-color: var(--gray);
  height: 100%;
}
.dashboard-main {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow: auto;
}
.dash-greet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.dash-greet h4 {
  font-size: 1.2rem;
  color: var(--text);
}
.dash-greet p {
  font-size: 0.9rem;
  color: var(--darkgrey);
}
.dashboard-cards {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  gap: 0.8rem;
}
.dashboard-card-item {
  background-color: var(--white);
  padding: 0.8rem;
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.dashboard-card-item p {
  margin: 0;
}
.dashboard-card-title {
  font-size: 0.8rem;
  color: var(--darkgrey);
}
.dashboard-card-value {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--darkgrey);
}
.dashboard-card-content-increment {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
}
.dashboard-card-increment-value {
  font-size: 0.8rem;
}
.dashboard-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.dashboard-graph {
  background-color: var(--white);
  border-radius: 10px;
  display: flex;
  flex: 1;
  margin-top: 1rem;
  padding-left: 1rem;
}
.card-head {
  font-size: 1.2rem;
  color: var(--text);
}
.dashboard-activity-meeting{
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.activity-feed, .meeting-feed{
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 10px;
  width: 96%;
}
.meeting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: nowrap;
}
.avatar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.avatar img{
  border: 1px solid black;
  border-radius: 50%;
  padding: 4px;
}
.feed{
  margin-top: 1rem;
  margin-left: 1rem;
}
.feed .description{
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.feed .time{
  font-size: 0.8rem;
  margin-top: -1rem;
  color: var(--darkgrey);
}
.feedstat{
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 600;
}
.apply{
  background-color: #d7e5ff;
  color: #4284ff;
}
.signup{
  background-color: #d6f5e6;
  color: #38ca89;
}
.meeting-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
} 
.meeting-header .icon{
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
  border: none;
}
.meeting-calender{
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  margin: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.meeting-calender .week{
  font-size: 1rem;
  font-weight: 600;
  color: #FFA600;
  margin-bottom: -0.1rem;
}
.meeting-calender .date{
  margin-bottom: 0rem;
  font-weight: 500;
  color: var(--text);
}
.content{
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.content .content-head{
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text);
}
.content .content-time{
  font-size: 0.9rem;
  color: var(--darkgrey);
}
.meeting-menu{
  background-color: var(--gray);
  padding: 0.5rem;
  margin-right: 0.1rem;
  margin-left: 0.1rem;
  border-radius: 10px;
  color: var(--darkgrey);
  cursor: pointer;
}
.dashboard-profile{
  height: 100vh;
  background-color: var(--white);
  padding: 1rem;
  padding-right: 1.5rem;
  overflow: auto;
}
.profile-top-bar{
  color: var(--darkgrey);
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  justify-content: flex-end;
}
.profile-top-bar .profile-avatar{
  padding: 2px;
  border: 1px solid var(--primary);
  border-radius: 50%;
}
.profilecard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  margin-top: 2rem;
}
.profilecard h3{
  color: var(--text);
  font-weight: 700;
}
.profilecard p{
  margin-top: -0.8rem;
  color: var(--darkgrey);
}
.messageCard{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.2rem;
}
.message-details{
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
}
.message-name{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--text);
}
.message-text{
  margin-top: -0.8rem;
  font-size: 0.8rem;
  color: var(--darkgrey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.recent-jobs{
  margin-top: 1.5rem;
}
.jobs{
  display: flex;
  align-items: center;
}
.job-details{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.job-loc-time{
  display: flex;
  justify-content: space-between;
  margin-top: -0.8rem;
  font-size: 0.9rem;
  color: var(--darkgrey);
}
.role-name{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--text);
}