:root {
  --primary: #377dff;
  --text: #333;
  --white: #fff;
  --gray: #ccc;
}

/* --------- Login Page CSS ----------- */

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: var(--gray);
  padding: 5rem;
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.brand {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.brand-name {
  color: var(--primary);
  font-weight: 700;
}
.logo {
  width: 20%;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form-heading {
  color: var(--primary);
  font-weight: 600;
}
.login-input {
  border: none;
  background-color: var(--gray);
  font-weight: 500;
  color: var(--text);
  padding: 0.5rem;
  border-radius: 5px;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* ----------- Main Page CSS --------- */

.mainpage {
  background-color: var(--gray);
  height: 100vh;
}

/* ------Sidenav CSS------ */

.sideNav {
  padding: 1.3rem;
  background-color: var(--white);
  height: 100vh;
}
.navBrand {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.navName {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 700;
}
.navlisthead{
  font-size: 1.2rem;
}
.navitem {
  display: flex;
  gap: 10px;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  /* margin-top: 0.2rem; */
  border-radius: 10px;
  cursor: pointer;
}
.navitem:hover{
  background-color: #f0f0f0 !important;
  color: #6c757d !important;
}
.navitem p{
  font-size: 0.8rem;
}