:root {
  --primary: #377dff;
  --text: #333;
  --white: #fff;
  --gray: #ccc;
  --darkgrey: #777
}

*{
  margin: 0;
  padding: 0;
}
/* --------- Login Page CSS ----------- */

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: var(--gray);
  padding: 5rem;
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.brand {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.brand-name {
  color: var(--primary);
  font-weight: 700;
}
.logo {
  width: 20%;
}
.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  width: 100%;
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.form-heading {
  color: var(--primary);
  font-weight: 600;
}
.login-input {
  border: none;
  background-color: var(--gray);
  font-weight: 500;
  color: var(--text);
  padding: 0.5rem;
  border-radius: 5px;
}
.login-form-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* ----------- Main Page CSS --------- */

.mainpage {
  background-color: var(--gray);
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/* ------Sidenav CSS------ */

.sideNav {
  padding: 1.3rem;
  background-color: var(--white);
  height: 100vh;
}
.navBrand {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.navName {
  color: var(--text);
  font-size: 1.2rem;
  font-weight: 700;
}
.navlisthead {
  font-size: 1.2rem;
}
.navitem {
  display: flex;
  gap: 10px;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}
.hoveritem:hover {
  background-color: #f0f0f0 !important;
  color: #6c757d !important;
}
.navitem p {
  font-size: 0.8rem;
}

/* --------------------Dashboard CSS--------------- */

.dashboard{
  display: flex;
}
.dashboard-main{
  padding: 2.5rem;
}
.dash-greet{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.dash-greet h4{
  font-size: 1.2rem;
  color: var(--text);
}
.dash-greet p{
  font-size: 0.9rem;
  color: var(--darkgrey);
}
.dashboard-cards{
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  gap: 1rem;
}
.dashboard-card-item{
  background-color: var(--white);
  padding: 0.8rem;
  display: flex;
  border-radius: 10px;
}
.dashboard-card-item p{
  margin: 0;
}
.dashboard-card-title{
  font-size: 0.8rem;
}
.dashboard-card-value{
  font-size: 1.8rem;
}
.dashboard-card-content-increment{
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}
.dashboard-card-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}
.dashboard-profile{
  background-color: #377dff;
}